#footer {
  padding: 20px 0;
  position: sticky;
  background-color: black;
  border-top: 1px solid white;

  .footer {
    h3 {
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: 700;
    }
  }
}