#details {
  padding: 80px 0;
  -webkit-box-shadow: 0 5px 100px 600px rgba(0, 0, 0, 0.73) inset;
  -moz-box-shadow: 0 5px 100px 600px rgba(0, 0, 0, 0.73) inset;
  box-shadow: 0 5px 10px 600px rgba(0, 0, 0, 0.73) inset;


  .details{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &--img {
      border: 2px solid white;
      -webkit-box-shadow: 4px 4px 41px 15px rgba(234, 0, 61, 0.64);
      -moz-box-shadow: 4px 4px 41px 15px rgba(234, 0, 61, 0.64);
      box-shadow: 4px 4px 41px 15px rgba(234, 0, 61, 0.64);
    }
    &--info {
      color: white;
      width: 65%;
      h2{
        padding: 30px 0;
      }
      h3{
        padding-bottom: 10px;
      }
      &__genres {
        display: flex;
        h4 {
          margin: 5px 15px 5px 0;
        }
      }
      &__rating {
        margin-top: 10px;
        width: 60px;
        height: 60px;
        background: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid yellowgreen;
        transition: .4s ;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}